<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>
  <body>
   <%- include partials/_navbar.ejs %>
    <main>
      <% if (user) {%>
      <h1>Welcome back, <%= user.first_name %>!</h1>
      <% } else { %>
      <h1>Welcome to Fetch.</h1>
      <h3>Your easy resource storage system.</h3>
      <% } %>
      <br><br>
     <div class="row">
       <div class="col-md-4"><%- include partials/_filter.ejs %></div>
       <div class="col-md-4"><%- include partials/_filterLikes.ejs %></div>
       <div class="col-md-4"><%- include partials/_search.ejs %></div>
      </div>

      <div class="row">
       <div class="all-cards">
        
      
        </div>
      </div>

    </main>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
  
</html>