<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>
  <body>
   <%- include partials/_navbar.ejs %>
    <main>
      <% if (user) {%>
      <h1>Welcome back, <%= user.first_name %>!</h1>
      <% } else { %>
      <h1>Welcome to Fetch.</h1>
      <h3>Making easy reasource storage happen.</h3>
      <% } %>
      <br><br>
     <div class="row" style="margin-bottom: 50px">
       <div class="col-md-4"><%- include partials/_filter.ejs %></div>
       <div class="col-md-4"><%- include partials/_search-main.ejs %></div>
      </div>
       <div class="all-cards">
       <div class="grid">
        
      
        </div>
        </div>

    </main>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/search.js"><</script>
  </body>
  
</html>