<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>
  <body>
    <%- include partials/_navbar.ejs %>
    <main>
      <h1>Hi, <%= user.first_name %>!</h1>
      <h3>Here are your saved resources.</h3>

      <div class="row">
        <br>
               <!--<div class="col-md-4"><%- include partials/_addCard.ejs %> <%- include partials/_filterLikes.ejs %></div>-->
       <div class="col-md-2"> <%- include partials/_addCard.ejs %></div>
      <div class="col-md-3"><%- include partials/_filterLikes.ejs %></div>
       <div class="col-md-3"><%- include partials/_filter.ejs %></div>
       <div class="col-md-4"><%- include partials/_search-user.ejs %></div>
      </div>
      <br><br>

       <div class="user-cards">
       <div class="grid">
        
      
        </div>
        </div>
         
    </main>
    <script type="text/javascript" src="/scripts/userpage.js"></script>
    <script type="text/javascript" src="/scripts/search.js"><</script>

  </body>
</html>

